<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/dashboard/index">صفحه اصلی</a></li>
            <li><a href="/dashboard/profile">پروفایل</a></li>
            <li class="active">تغییر رمز عبور</li>
        </ol>
    </div>
</div>

<% if(typeof errors !== 'undefined' && errors.length > 0){%>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger">
            <ul class="show-message">
                <% _.each(errors, function (error) {%>
                    <li><%= error %></li>
                <%}) %>
            </ul>
        </div>
    </div>
</div>
<%} %>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="/dashboard/newPassword" method="post">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <div class="form-group">
                <label for="old-password">رمز عبور قبلی</label>
                <input type="password" required="required" name="old-password" id="old-password" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">رمز عبور جدید</label>
                <input type="password" required="required" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="repreat-password">تکرار رمز عبور جدید</label>
                <input type="password" required="required" name="repeat-password" id="repreat-password" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="تغییر رمز عبور">
                <input type="reset" class="btn btn-default" value="لغو">
            </div>
        </form>
    </div>
</div>