<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'کار پیدا کن!' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/owl.carousel.min.css">
    <link rel="stylesheet" href="/styles/owl.theme.default.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">کار پیدا کن!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">صفحه اصلی</a></li>
                <li><a href="/about">درباره ما</a></li>
                <li><a href="/contact">تماس با ما</a></li>
                <li><a href="#">شرایط</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--<div class="owl-carousel img-header">-->
    <!--<img src="/images/header-image-job.jpg" class="img-responsive" alt="">-->
    <!--<img src="/images/header-image-job3.jpg" class="img-responsive" alt="">-->
    <!--<img src="/images/header-image-job4.jpg" class="img-responsive" alt="">-->
<!--</div>-->
<p>&nbsp;</p>
<div class="row">
    <div class="container">
        <div class="col-sm-12">
            <%- body %>
        </div>
    </div>
</div>
<div class="row footer">
    <div class="container">
        <div class="col-sm-12">
            <p class="pull-right">کلیه حقوق برای شرکت محفوظ است.</p>
            <p class="pull-left">1396 &copy;</p>
        </div>
    </div>
</div>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jquery-2.2.4.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/tinymce/jquery.tinymce.min.js"></script>
<script src="/tinymce/tinymce.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/loadDataAjax.js"></script>
<!--SCRIPTS END-->
</body>
</html>
