<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/dashboard">صفحه اصلی</a></li>
            <li class="active">تنظیمات</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="ol-sm-12">
        <a href="/setting/about" class="btn btn-default">درباره ما</a>
    </div>
</div>