<form action="/cities/insert" method="post">
    <div class="row">
            <div class="col-sm-9">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <div class="form-group">
                    <label for="name">نام</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="checkbox" name="active" id="active">
                    <label for="active">فعال / غیر فعال</label>
                </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="ذخیره">
                <input type="reset" value="لغو" class="btn btn-default">
            </div>
        </div>
    </div>
</form>
